body {
    background-color: darkgray;
}

#menu  {

    width: 100%;
    height: 20px;
    background-color:white;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
}

#cabeçalho {
    width: 100%;
    height: 60px;
    background-color: green;
    display: flex;
    justify-content: space-around;
    align-items: center;
    position: fixed;
    z-index: 1;
    top: 0;
    

}



.LinkMenu {
    color: red;
    font-size: 1em;
    margin-right: 20px;

}

.LinkMenu1 {
    color: red;
    font-size: 1em;
    margin-right: 650px;

}


.CabeçalhoSup h4 {
text-align: center;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;

}



.txt {
text-align: center;
font-family: 'Times New Roman', Times, serif;

}

.Canto {
color: red;
font-size: 1em;
text-align: right;

}



h1 {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif ;
    text-align: center;

}
.parte1 {
width: 100%;
height: 800px;
    text-align: center;
}

.parte1 img {

    height: 300px;
    width: 300px;
    display: flex;
    justify-content: space-around;
    align-items: end;
    text-align: right;
}

.parte1 h1 {
color: rebeccapurple;
font-family: 'Times New Roman', Times, serif;
text-align: center;


}

.caixa-search {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-30%, -50%);
    background-color: #333;
    height: 30px;
    border-radius: 40px;
    padding: 10px;
    display: flex;
    justify-content: left;
    align-items: left;

}

.caixa-search:hover > .caixa-texto {
    width: 240px;
    padding: 0 6px;
}

.caixa-search:hover > .botao-search {
    background-color: #ffffff;
    margin-left: 3px;
}

.botao-search {
    color: #18e895;
    float: right;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    background-color: #333;
    display: flex;
    justify-content: center;
    text-decoration: none;
    align-items: center;
    transition: 0.4s;
}

.caixa-texto {
    border: none;
    background-color: #333;
    outline: none;
    float: left;
    padding: 0;
    color: #fff;
    font-size: 16px;
    transition: 0.4s;
    line-height: 40px;
    width: 0px;
    cursor: pointer;
    display: flex;
    justify-content: left;
    align-items: left;

}
