.myButton {
	box-shadow: 0px 1px 0px 0px #1c1b18;
	background:linear-gradient(to bottom, #eae0c2 5%, #ccc2a6 100%);
	background-color:#eae0c2;
	border-radius:15px;
	border:2px solid #333029;
	display:inline-block;
	cursor:pointer;
	color:#505739;
	font-family:Arial;
	font-size:14px;
	font-weight:bold;
	padding:12px 16px;
	text-decoration:none;
	text-shadow:0px 1px 0px #ffffff;
}
.myButton:hover {
	background:linear-gradient(to bottom, #ccc2a6 5%, #eae0c2 100%);
	background-color:#ccc2a6;
}
.myButton:active {
	position:relative;
	top:1px;
}

.caixalogin {
    position: absolute;
    top: 50%;
    left: 50%;
    width: 400px;
    padding: 40px;
    transform: translate(-50%, -50%);
    background: rgba(0,0,0, .6);
    box-sizing: border-box;
    box-shadow: 0 15px 25px rgba(0,0,0, .6);
    border-radius: 10px;
}

.caixalogin h2 {

    margin: 0 0 30px;
    padding: 0;
    color: #ffffff;
    text-align: center;
}

   body {

    background: rgb(234,238,174);
    background: radial-gradient(circle, rgba(234,238,174,1) 0%, rgba(148,233,156,1) 100%);

   }


   body {
    margin: 0;
    padding: 0;
    font-family: sans-serif;
    background: 
    linear-gradient(#1c1b18, #333029);
   }

   .caixalogin .lemail input {

    width: 100%;
padding: 10px 0;
font-size: 16px;
color: #ffffff;
margin-bottom: 30px;
border:none;
border-bottom: 1px solid #ffffff;
outline: none;
background: transparent;
   }
